<div class="container">
  <div class="row mt-5">
    <div class="col-sm-12 text-center">
      <h1 class='text-info bolder'> Your Stampbooks </h1>
      <h2> You have <%= pluralize(@user_stampbooks.count, 'stampbook')%></h2>
      <div class='d-flex justify-content-center'>
        <%= link_to("Create a stampbook", new_stampbook_path , class:'btn btn-info mr-1 rounded') %>
        <%= link_to("+ Find a public stampbook to add to your library", new_stampbook_path , class:'btn btn-info ml-1') %>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-sm-12">
      <% @user_stampbooks.each do |stampbook| %>
          <div class="card" style="width:300px; height:400px;">
            <%= cl_image_tag stampbook.stamps.sample.location.location_photos.first.key, height: 200, width: 300, crop: :fill  %>
            <div class="card-body">
              <h5 class="card-title"> <%= link_to stampbook.stampbook_name, stampbook_stamps_path(stampbook) %>  <%=  %></h5>
              <p class="card-text"><%= stampbook.stampbook_description %></p>
              <div class="progress" style = "width: 250px;">
                <% if stampbook.stamps.select(&:stamp_status).size.zero?%>
                  <div class="progress-bar" role="progressbar" style="width: 0" aria-valuenow= "0" aria-valuemin="0" aria-valuemax="100"></div>
                <% else %> 
                  <% collected = stampbook.stamps.select(&:stamp_status).size %>
                  <% total = stampbook.stamps.size %>  
                  <div class="progress-bar" role="progressbar" style="width: <%= collected.fdiv(total)*100 %>%;" aria-valuenow= "<%= collected.fdiv(total)*100 %>" aria-valuemin="0" aria-valuemax="100"><%=  collected.fdiv(total)*100 %>%</div>
                <% end %>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
  <div class="row text-center mt-5">
    <div class="col-sm-12">
      <%= link_to("Go back to your profile", user_path(@user) , class:'btn btn-info') %>
    </div>
  </div>
</div>
