<div class="background-box">
  <div class="container">
    <div class="bg-white main_container">
      <h1>Create a new stampbook</h1>
      <%= simple_form_for([@user, @stampbook]) do |form| %>
        <%= form.input :stampbook_name, :required => true %>
        <%= form.input :stampbook_description, :required => true %>
        <%= form.association :locations, as: :select, multiple: true, include_blank: false, collection: Location.order('location_name ASC'), label_method: :location_name, :required => true, label: "Existing Locations" %>
        <%= form.label "Can't find a location you want to add? You can add new locations on the next page.", class:"new-stampbook-grey-label"  %>
        <%= form.input :status, label:'Allow your friends to clone your stampbook'%>
        <div class="d-flex justify-content-end">
          <%= form.submit  value:"Next", label:"Next", class:"small-yellow-button"%>
        </div>
      <% end %>
    </div>
      <div class="row text-center mt-3">
        <div class="col-sm-12">
        <%= link_to '<i class="fas fa-chevron-circle-left mr-1"></i>Go back to your profile'.html_safe, user_path(current_user), class:'back-btn mb-3' %>
        <%= link_to("Go back to your stampbook collection", user_stampbooks_path(current_user), class:'back-btn mb-3' ) %>
      </div>
    </div>
  </div>
</div>

