<div class="background-box">
  <div class="container">
    <div class="bg-white main_container">
      <h1>Create a new stampbook</h1>
      <%= simple_form_for([@user, @stampbook]) do |form| %>
        <%= form.input :stampbook_name, :required => true %>
        <%= form.input :stampbook_description, :required => true %>
        <%= form.association :locations, as: :select, multiple: true, include_blank: false, collection: Location.order('location_name ASC'), label_method: :location_name, :required => true, label: "Existing Locations" %>
        <%= form.input :status, label:'Allow your friends to clone your stampbook' %>
        <div class="d-flex justify-content-end">
          <%= form.submit  value:"Next", label:"Next", class:"small-yellow-button"%>
        </div>
      <% end %>
    </div>
      <div class="row text-center mt-3">
        <div class="col-sm-12">
        <%= link_to("Go back to #{current_user.first_name}'s profile", user_path(current_user) , class:'btn grey-button') %>
        <%= link_to("Go back to #{current_user.first_name}'s stampbook collection", user_stampbooks_path(current_user), class:'btn grey-button' ) %>
      </div>
    </div>
  </div>
</div>
