<div class="stamp-window-body" style="display:flex;">
  <div class="left-box">
    <% if stamp.stamp_status %>
      <%= cl_image_tag stamp.location.stamp_photos.first.key, class:"rounded-borders", height: 100, width: 100, crop: :fill %>
    <% else %>
      <%= cl_image_tag stamp.location.location_photos.first.key, class:"rounded-borders", height: 100, width: 100, crop: :fill %>
    <% end %>
  </div>
  <div class="right-box">
    <h4><%= stamp.location.location_name %></h4>
  </div>
</div>

<div class="stamp-window-footer">
    <p class ="yellow-button">
      <%if stamp.stamp_status %>
        Stamp collected on <%= stamp.update_date %>
      <% else %>
        <%= link_to "collect your stamp", edit_stampbook_stamp_path(stamp.stampbook, stamp) %>
      <% end %>
    </p>
</div>
