<div class="background-box">
  <div class="form-container">
    <%= form_tag itinerary_itinerary_items_path(@itinerary), class:"pb-5", method: :get do %>
      <div class="form-box tag-item">
        <h4>Choose your categories</h4>
        <div class="form-categories">
          <% @categories.each do |category| %>
            <div class ="filter-category-width" style ="width:60px;">
              <%= check_box_tag("categories[#{category}]", category , false, class: "tag-selector") %>
              <%= label_tag("categories[#{category}]", category) do %>
                <span style="font-size:20px;display:block;"><%= @category_pics[category].html_safe %></span>
                <%= category %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="form-box" style = "display:block;">
        <h4>Choose your distance (miles)</h4>
        <%= select_tag(:distance, options_for_select(@distances), id: "select-distance", class:"form-control") %>
      </div>
      <div class="form-box">
        <h4>Include completed stamps?</h4>
        <input name="add_completed" type="hidden" value="0">
        <input class="toggle" type="checkbox" value="1" name="add_completed" id="add_completed">
        <label for="add_completed"></label>
      </div>
      <%= link_to 'back', itinerary_path(@itinerary), method: :delete, class: "btn small-yellow-button left" %>
      <%= submit_tag "next", class: "btn small-yellow-button" %>
    <% end %>
  </div>
</div>