<div class="stamps-box min-vh-100" >
  <div class='d-flex justify-content-between w-100 mt-5'>
    <div class="stampbook-owner ml-3">
      <% if @user.photo.attached? %>
        <%= cl_image_tag @user.photo.key , width: 50, height: 50, crop: :fill, class: "user-photo" %>
      <% else %>
        <%= cl_image_tag "https://res.cloudinary.com/laicuroot/image/upload/v1624036100/g9taazczlaxq12idd1sp.jpg", width: 50, height: 50, crop: :fill, class: "user-photo" %>
      <% end %>
      <% if @user == current_user %>
        <h4 class="stampbook-owner-text">You are viewing <strong>your</strong> itineraries</h4>
      <% else %>
        <h4 class="stampbook-owner-text">You are viewing <br> <strong><%= @user.first_name %></strong>'s itineraries</h4>
      <% end %>
    </div>

    <div class="stamps-title mr-3">
      <% if @user == current_user %>
        <% if @user.itineraries.count == 0 %>
        <h1 class="stampbook-name" style ="font-size: 36px;">Create an itinerary! </h1>
        <% else %>
          <h1 class="stampbook-name" style ="font-size: 36px;">All itineraries </h1>
          <p>You have <%= pluralize(current_user.itineraries.count, 'itinerary')%> </p>
        <% end %>
      <% else %>
        <% if @user.itineraries.count == 0 %>
          <h3 class='stampbook-name'><%= @user.first_name %> doesn't have any itineraries yet</h3>
        <% else %>
          <h1 class="stampbook-name" style ="font-size: 36px;"><%= @user.first_name  %> has <%= pluralize(@user.itineraries.count, 'itinerary')%> </h1>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class='text-center'>
    <% if @user == current_user %>
      <%= link_to "Create Itinerary", new_user_itinerary_path(@user), class:'main-yellow-button' %>
    <% else %>
      <span></span>
    <% end %>
  </div>
  <div class="container itinerary-show row">
    <div class="col-sm-12 col-md-6">
      <div class="itin-container" style ="height:75%; overflowy:scroll;">
        <% if @itineraries.length == 0 %>
          <% if @user == current_user %>
          <div class='text-center'>
            <h4>You don't have itineraries yet. Create one!</h4>
          </div>
          <% else %>
            <div class='d-flex align-items-center'><i class="fas fa-frown sad-face mr-4" style="font-size: 80px; color:grey"></i> <br> <span class="bold-text" style="font-size: 36px; color:grey">No itineraries yet</span></div>
          <% end %>
        <% else %>
          <% @itineraries.order(updated_at: :desc).each do |itinerary| %>
            <% if itinerary.public_status || @user == current_user %>
              <div class="card-product mb-3">
                <%= cl_image_tag itinerary.first_location_photo, crop: :fill, class:'' %>
                <div class="card-product-infos">
                  <div class="card-body">
                    <h2 class="card-title mt-3"><%= link_to itinerary.itinerary_name, itinerary_path(itinerary), class:'itinerary-title'  %></h2>
                    <p class ="pl-2 mb-0" style="font-size:14px;opacity:0.45;">Visiting <strong> <%= itinerary.itinerary_items.count %></strong> locations</p>
                    <p class ="pl-2" style="font-size:14px;opacity:0.45;">in <strong> <%= itinerary.destination.split(',').first %></strong></p>
                  </div>
                  <div class='activation-button'>
                    <% if itinerary.active_itinerary %>
                      <button class="itinerary-card-btn active-itinerary" id="itinerary-btn">Active</button>
                    <% else %>
                      <%= button_to "Set Active", itinerary_activate_path(itinerary), class:"itinerary-card-btn inactive-itinerary", remote: true %>
                    <% end %>
                  </div>
                </div>
                                <% if @user == current_user %>
                  <div class='destroy-container'>
                    <%= link_to '<i class="fas fa-minus-circle destroy-btn"></i>'.html_safe, itinerary_path(itinerary), method: :delete,:data => { :confirm => 'Do you want to delete this itinerary?' } %>
                  </div>
                <% else %>
                  <span></span>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 map-container">
       <div id="itinerary-map"
          class = "map"
          style ="height:100%; border-radius: 0 20px 20px 0;"
          data-markers="<%= @itinerary_markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
  <% if @user == current_user %>
    <%= link_to '<i class="fas fa-chevron-circle-left mr-1"></i>Go back to your profile'.html_safe, user_path(@user), class:'back-btn mb-3' %>
  <% else %>
    <%= link_to "<i class='fas fa-chevron-circle-left mr-1'></i> Go back to #{@user.first_name}'s profile".html_safe, user_path(@user), class:'back-btn mb-3' %>
  <% end %>
</div>

