<div class="container">
  <h2>Create your itinerary</h2>
  <%= simple_form_for([@user, @itinerary]) do |f| %>
    <%= f.input :itinerary_name %>
    <%= f.input :destination %>
    <%= f.input :public_status, collection: [true, false]  %>
    <%= f.submit %>
  <% end %>
</div>
