
<div class="modal fade stamp-<%= stamp.id %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="stamp-div d-flex">
        <div class="row col-6 p-0 m-0 d-flex flex-column">
          <div class="stamp-background hover" style = "width: 300px;">
            <%= cl_image_tag(stamp.location.stamp_photos.first.key, height: 210, width:210, crop: :fill)%>
          </div>
          <div class="modal-header text-center">
              <h1 class="modal-title"><%= stamp.location.location_name %></h1>
          </div>
          <div class="modal-body pt-0 mt-0">
            <p><%= stamp.location.location_description %></p>
          </div>
        </div>
        <div class="row col-6 p-0 m-0">
          <%= cl_image_tag(stamp.location.location_photos.first.key, class: "location-pic")%>
        </div>
      </div>
    </div>
  </div>
</div>


