<div class="container bg-white mt-5 main_container">
  <div class="row d-flex mt-5 mb-5 p-5 text-center">

    <% if @stamp.stamp_status == false %>
      <%= render 'form' %>
    <% else %>
    <div class="col-sm-12 text-center">
      <h1 class="title">You have already collected this stamp </h1>
    </div>
    <div class="col-sm-12 d-flex justify-content-center">
      <div class="card custom_card " style="width: 70%">
        <%= cl_image_tag(@stamp.location.location_photos.first.key, class: "card-img-top location-pic", crop: :fill)%>
        <div class="card-body">
          <h5 class="card-title"><%= @stamp.location.location_name %></h5>
          <p class="card-text text-left"><%= @stamp.location.location_description %></p>
          <%= link_to "See stamp", stampbook_stamp_path(@stamp), class:'btn btn-info text-white px-5'  %>
        </div>
      </div>
    </div>
    <% end %>
  </div>

</div>
