<div class="stamps-box">
  <div class="stamps-header">
    <h1 class="stampbook-name"><%=@stampbook.stampbook_name%></h1>
    <h2>You collected <%= @stampbook.stamps.select { |stamp| stamp.stamp_status==true}.size %>/<%= @stampbook.stamps.count %></h2>
  </div>

  <div class="stamps-collection">
    <% @stampbook.stamps.each_with_index do |stamp, index| %>
      <div class="stamp-background">
        <h3><span class="hashtag-height">#</span> <%= index + 1 %></h3>
        <h4><%= stamp.location.location_name %></h4>
        <% if stamp.stamp_status %>
          <%= render "collected_stamp_modal", stamp: stamp %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
