<div class="stamps-box">
  <div class='d-flex justify-content-between w-100 mt-5'>
    <div class="stampbook-owner ml-3">
      <%= cl_image_tag @stampbook.user.photo.key, height: 50, width: 50, crop: :fill, :class => "user-photo"  %>
      <% if @stampbook.user == current_user %>
        <h4 class="stampbook-owner-text">You are viewing <strong>your</strong> stampbook</h4>
      <% else %>
        <h4 class="stampbook-owner-text">You are viewing <br> <strong><%= @stampbook.user.first_name %></strong>'s stampbook</h4>
      <% end %>
    </div>

    <div class="stamps-title mr-3">
      <h1 class="stampbook-name" style ="font-size: 48px;"><%=@stampbook.stampbook_name%></h1>
      <p><%= @stampbook.stampbook_description %></p>
    </div>
  </div>
  <div class="stamps-header mt-5">
    <% if @stampbook.user == current_user %>
      <h2 class="number-stamps-collected-sml">You collected <span class="number-stamps-collected-big"><%= @collected %></span>/<%= @total%> <%="stamp".pluralize(@collected)%></h2>
      <div class="progress" style = "width: 400px;">
        <% if @percent.floor.zero? %>
          <div class="progress-bar" role="progressbar" style="width: <%= @percent %>%;" aria-valuenow= "<%= @percent %>" aria-valuemin="0" aria-valuemax="100"></div>
        <% else %>
          <div class="progress-bar" role="progressbar" style="width: <%= @percent %>%;" aria-valuenow= "<%= @percent %>" aria-valuemin="0" aria-valuemax="100"><%= @percent %>%</div>
        <% end %>
      </div>
      <div class="collect-stamp-link"><%= link_to "<i class='fas fa-plus'></i> Collect a stamp".html_safe, user_stamps_path(@stampbook.user.id) %></div>
    <% else %>
      <h2 class="number-stamps-collected-sml"><%= @stampbook.user.first_name %> collected <span class="number-stamps-collected-big"><%= @collected %></span>/<%= @total%> <%="stamp".pluralize(@collected)%></h2>
      <div class="progress" style = "width: 400px;">
        <% if @percent.floor.zero? %>
          <div class="progress-bar" role="progressbar" style="width: <%= @percent %>%;" aria-valuenow= "<%= @percent %>" aria-valuemin="0" aria-valuemax="100"></div>
        <% else %>
          <div class="progress-bar" role="progressbar" style="width: <%= @percent %>%;" aria-valuenow= "<%= @percent %>" aria-valuemin="0" aria-valuemax="100"><%= @percent %>%</div>
        <% end %>
      </div>
    <% end %>
  </div>


    <div id="book">
      <% @stamps.each_slice(6) do |stamps| %>
        <% @page_number += 1 %> 
        <div class="my-page">
          <div class="stamps-collection">
            <% stamps.each do |stamp| %>
              <div class="stamp-background">
                <% if stamp.stamp_status %>
                  <%= cl_image_tag stamp.location.stamp_photos.first.key, height: 100, width: 200, crop: :fill  %>
                  <button type="button" class="btn small-yellow-button" data-toggle="modal" data-target=".stamp-<%= stamp.id %>">Show stamp</button>
                <% else %>
                  <h3>#<span class="stamp-number-height"><%= @index %></span></h3>
                  <h4><%= stamp.location.location_name %></h4>
                  <button type="button" class="btn small-yellow-button" data-toggle="modal" data-target=".stamp-<%= stamp.id %>">View details</button>
                <% end %>
                <% @index += 1 %>
              </div>
            <% end %>
        </div>
        <div class="page-number">
          <p>Page <strong> <%= @page_number %> </strong> / <%= @count %></p>
        </div>
      </div>
      <% end %>
      <% if @page_number.odd? %>
        <div class ="my-page">
          <p class = "final-page">You’ve reached the end of the stampbook.</p>
          <div class="page-number">
            <p>Page <strong> <%= @page_number + 1 %> </strong> / <%= @count %></p>
          </div>
        </div>
      <% end %>
  </div>
  <% if current_user.stampbooks.exists?(stampbook_name: @stampbook.stampbook_name)%>
    <div class="grey-button mt-3"><i class='fas fa-copy'></i> Can't clone. You already have this stampbook</div>
  <% elsif @stampbook.user == current_user%>
   <div class="grey-button"><i class='fas fa-copy'></i> Can't clone your own stampbook</div>
  <% else %>
    <div class="collect-stamp-link mt-3"><%= link_to "<i class='fas fa-copy'></i> Clone the stampbook".html_safe, user_stamps_path(@stampbook.user.id) %></div>
  <% end %>
   <%= link_to("Go back to #{@stampbook.user.first_name}'s profile", user_path(@stampbook.user) , class:'btn btn-sm small-yellow-button mb-2', style: "position: relative; bottom: 80px;") %>
</div>


  <% @stamps.each do |stamp| %>
    <% if stamp.stamp_status %>
      <%= render 'collected_stamp_modal', stamp: stamp %>
    <% else %>
      <%= render "uncollected_stamp_modal", stamp: stamp %>
    <% end %>
  <% end %>

