<% if @user == current_user %>

    <div class="stamp-location-photo-div">
  		<% if stamp.stamp_status %>
  			<%= cl_image_tag stamp.location.stamp_photos.first.key, class:"stamp-location-photo", crop: :fill%>
  		<% else %>
  			<%= cl_image_tag stamp.location.location_photos.first.key, class:"stamp-location-photo", crop: :fill%>
  		<% end %>
  	</div>

    <strong><h2 class="stamp-location-name"><%= stamp.location.location_name %></h2></strong>

    <div class="stamp-window-footer">
        <p class ="yellow-button">
          <%if stamp.stamp_status %>
            Stamp collected on <%= stamp.update_date %>
          <% else %>
            <%= link_to "Collect your stamp", edit_stampbook_stamp_path(stamp.stampbook, stamp) %>
          <% end %>
        </p>
    </div>
  <% else %>

    <div class="stamp-location-photo-div mb-0">
      <% if stamp.stamp_status %>
        <%= cl_image_tag stamp.location.stamp_photos.first.key, class:"stamp-location-photo", crop: :fill%>
      <% else %>
        <%= cl_image_tag stamp.location.location_photos.first.key, class:"stamp-location-photo", crop: :fill%>
      <% end %>
    </div>

    <strong><h3 class="stamp-location-name m-2 mb-3"><%= stamp.location.location_name %></h3></strong>

    <div class="stamp-window-footer">
      <%if stamp.stamp_status %>
        <p class ="yellow-button">
          Stamp collected on <%= stamp.update_date %>
        </p>
      <% end %>
    </div>
<% end %>
