<div class="container user-profile-cont">
  <div class="card profile-box">
    <% if user.photo.attached? %>
      <%= cl_image_tag user.photo.key , width: 350, height: 280, crop: :fill, class: "card-img-top", alt: "Card image cap" %>
    <% else %>
      <%= cl_image_tag "https://res.cloudinary.com/laicuroot/image/upload/v1624036100/g9taazczlaxq12idd1sp.jpg", width: 350, height: 290, crop: :fill, class: "card-img-top", alt: "Card image cap" %>
    <% end %>
    <div class="card-body">
      <h1 class="card-title"><%=user.first_name%></h1>
      <p class="card-text">Number of stamps collected</p>
      <h3><%= @stamp_count %></h3>
      <p class="card-text">Number of stars earned</p>
      <h3><i class="fas fa-star bronze-star mr-1"></i><%= @num_bronze_stars %>  <i class="fas fa-star silver-star mr-1"></i><%= @num_silver_stars %>  <i class="fas fa-star gold-star mr-1"></i><%= @num_gold_stars %></h3>
      <p>Traveller since</p>
       <h3><%= user.create_date %></h3>
      <%= link_to '<i class="fas fa-book"></i> See stampbooks'.html_safe, user_stampbooks_path(user), class: "yellow-button" %>
    </div>
    <div id= "hide-profile" class="round-yellow-button view-profile"><i class="fas fa-arrow-left"></i></div>
  </div>
  <div class="map-legend">
    <button type="button" class="legend-toggle" data-toggle="modal" data-target="#exampleModal">
      <i class="fas fa-question-circle"></i>
    </button>
    <%= render 'shared/map_legend' %>
  </div>
  <% if @user_active_itinerary.exists? %>
    <div class="toggle-all btn yellow-button-toggle" style="z-index: 5; cursor:pointer; color: rgba(0, 0, 0, 0.5);"><i class="fas fa-eye"></i> See all stamps</div>
  <% end %>
  <div class="menus">
    <div class="friend-menu">
      <div id = "user-menu-friends" class ="friends-button menu">
        <i class="fas fa-users"></i>
      </div>
    <% if @query %>
      <div class = "friends-menu-popup" class ="menu-button" style ="display:inline-block;">
    <% else %>
      <div class = "friends-menu-popup">
    <% end %>
        <%= render 'friends', user: user %>
      </div>
    </div>
    <div class="user-menu">
    <% if @query %>
      <div id = "user-menu-button" class ="menu-button" style="display:none;">
    <% else %>
      <div id = "user-menu-button" class ="menu-button menu">
    <% end %>
        <i class="fas fa-bars"></i>
      </div>
      <div class = "user-menu-popup">
        <div id = "user-menu-exit" class ="menu-button"><i class="fas fa-times"></i></div>
        <h2>Actions</h2>
        <ul>
          <li><%= link_to "Create Itinerary", new_user_itinerary_path(user) %></li>
          <li><%= link_to "See Saved Itineraries", user_itineraries_path(user) %></li>
          <li><%= link_to "Edit Profile", edit_user_path(user)%></li>
          <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>
    </div>
    <div class="user-menu-leaderboard">
      <div id = "user-menu-button-leaderboard" class ="menu-button-leaderboard menu">
        <i class="fas fa-trophy"></i>
      </div>
      <div class = "user-menu-popup-leaderboard">
        <div id = "user-menu-exit-leaderboard" class ="menu-button-leaderboard"><i class="fas fa-times"></i></div>
        <h2>Leaderboard</h2>
        <div class="leaderboard-list">
          <% @all_achievements.each do |user| %>
            <div class="leaderboard-one-user">
              <div class="ranking-number"><%= @ranking_number %></div>
              <div class="">
                <% if user == current_user %>
                  <div class="leaderboard-current-user"><strong><i class="fas fa-user"></i> You</strong></div>
                <% elsif current_user.all_confirmed_invites.include? user %>
                  <div class="leaderboard-friends"> <i class="fas fa-user-friends"></i> <%= user.first_name %> </div>
                <% else %>
                  <div class="leaderbaord-other-users"> <%= user.username %> </div>
                <% end %>
              </div>
              <div class="user-ranking-results">
                <% if user == current_user %>
                  <div class="leaderboard-current-user"> <strong><i class="fas fa-stamp"></i> <%= user.collected_stamps.size %> <i class="fas fa-star gold-star"></i> <%= user.get_gold %> <i class="fas fa-star silver-star"></i> <%= user.get_silver %> <i class="fas fa-star bronze-star"></i> <%= user.get_bronze %></strong></div>
                <% elsif current_user.all_confirmed_invites.include? user %>
                  <div class="leaderboard-friends"> <i class="fas fa-stamp"></i> <%= user.collected_stamps.size %> <i class="fas fa-star gold-star"></i> <%= user.get_gold %> <i class="fas fa-star silver-star"></i> <%= user.get_silver %> <i class="fas fa-star bronze-star"></i> <%= user.get_bronze %></div>
                <% else %>
                  <div class="leaderbaord-other-users"> <i class="fas fa-stamp"></i> <%= user.collected_stamps.size %> <i class="fas fa-star gold-star"></i> <%= user.get_gold %> <i class="fas fa-star silver-star"></i> <%= user.get_silver %> <i class="fas fa-star bronze-star"></i> <%= user.get_bronze %></div>
                <% end %>
              </div>
            </div>
            <% @ranking_number += 1 %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

<% if user.photo.attached? %>
  <style>
    .mapboxgl-user-location-dot:after{
      background-image: url('<%= cl_image_path user.photo.key, crop: :fill %>');
      background-size: cover;
      height: 30px;
      width: 30px;
    }

    .mapboxgl-user-location-dot:before{
      display: none;
    }
  </style>
<% end %>

