<div id="user-map"
    class = "map"
    data-markers="<%= @markers.to_json %>"
    data-all-markers ="<%= @second_markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
<% if @user == current_user %>
  <%= render 'userprofile', user: @user %>
<% else %>
    <div class="container user-profile-cont">
      <div class="card profile-box">
          <div class='mt-2 add-user-wrapper'>
          <% if @user_invitation.nil? && @friend_invitation.nil?  %>
            <%= simple_form_for ([@user, @invitation]), remote: true do |f| %>
                <%= button_tag(type: 'submit', class: "add-user") do %>
                  <i class="fas fa-user-plus"></i>
                <% end %>
            <% end %>
          <% end %>
          <% invitation = @friend_invitation.nil? ? @user_invitation : @friend_invitation %>
          <% if !invitation.nil? %>
            <% if invitation.confirmed == false %>
              <p class='small-yellow-button m-2'>Pending</p>
            <% else %>
              <p class='small-yellow-button m-2'>Friend</p>
            <% end %>
          <% end %>
          </div>
        <% if @user.photo.attached? %>
          <%= cl_image_tag @user.photo.key , width: 350, height: 280, crop: :fill, class: "card-img-top", alt: "Card image cap" %>
        <% else %>
          <img class="card-img-top" src="app/assets/images/Default.PNG" alt="Card image cap">
        <% end %>
        <div class="card-body">
          <h1 class="card-title"><%= @user.first_name %></h1>
          <p class="card-text">Number of stamps collected</p>
          <h3><%= @stamp_count %></h3>
          <p class="card-text">Number of stars earned</p>
          <h3><%= @achievements %></h3>
          <p>Traveller since</p>
           <h3><%= @user.create_date %></h3>
          <%= link_to '<i class="fas fa-book"></i> See stampbooks'.html_safe, user_stampbooks_path(@user), class: "yellow-button" %>
        </div>
        <div id= "hide-profile" class="round-yellow-button view-profile"><i class="fas fa-arrow-left"></i></div>
      </div>
      <div class="user-menu">
        <div id = "user-menu-button" class ="menu-button"><i class="fas fa-bars"></i></div>
        <div class = "user-menu-popup">
           <div id = "user-menu-exit" class ="menu-button"><i class="fas fa-times"></i></div>
           <h2>Actions</h2>
           <ul>
             <li><%= link_to "<i class='fas fa-book'></i> See #{@user.first_name}'s stampbooks".html_safe, user_stampbooks_path(@user) %></li>
             <li><%= link_to "<i class='fas fa-map-marked-alt'></i> See #{@user.first_name}'s saved itineraries".html_safe , user_itineraries_path(@user) %></li>
             <li><%= link_to "Back to your profile", user_path(current_user) %></li>
           </ul>
        </div>
      </div>
    </div>
<% end %>
