<div class="col-sm">
  <% if @itinerary.itinerary_items.find_by(stamp_id: stamp.id) %>
    <div data-itinerary-items-update-id= "#{<%= stamp.id %>}" class="itinerary-item-body selected" style="display:flex;" data-itinerary-items-update-target="itineraryItem" data-action="click->itinerary-items-update#update">
  <% else %>
    <div data-itinerary-items-update-id= "#{<%= stamp.id %>}" class="itinerary-item-body" style="display:flex;" data-itinerary-items-update-target="itineraryItem" data-action="click->itinerary-items-update#update">
  <% end %>
      <% if stamp.stamp_status %>
        <%= cl_image_tag stamp.location.stamp_photos.first.key, class:"rounded-borders", height: 200, width: 200, crop: :fill %>
      <% else %>
        <%= cl_image_tag stamp.location.location_photos.first.key, class:"rounded-borders", height: 200, width: 200, crop: :fill %>
      <% end %>
      <h5 class ="overlay-name"><%= stamp.location.location_name %></h5>
    </div>
</div>