<div class="background-box">
  <div class="container card-container">
    <h1 class="mb-0">Add new locations</h1>
    <% if @stampbook.stamps.empty? %>
      <%= link_to "You can not create a stampbook without locations. Please add a location",  stampbook_stamps_path(@stampbook), class:"pt-0 pb-2 text-danger", style: "pointer-events: none; background-color: $white; color: $red;" %>
    <% end %>
    <%= simple_form_for([@stampbook, @location]) do |f| %>
      <%= f.input :location_name %>
      <%= f.input :location_description %>
      <%= f.input :category, collection: %w[Culinary Cultural Historical Natural Sports] %>
      <%= f.input :location_photos,
                          input_html: { class: 'd-none' },
                          label_html: { class: 'upload-btn' },
                          label: '<i class="fas fa-camera"></i> Upload a location picture'.html_safe  %>
      <div class="d-flex justify-content-between pt-3">
      <%= f.submit 'Create Location', class: 'main-yellow-button small-yellow-button'%>
    <% end %>
    <% if @stampbook.stamps.empty? %>
    <% else %>
      <%= link_to "Finish",  stampbook_stamps_path(@stampbook), class:'main-yellow-button small-yellow-button' %>
    <% end %>
      </div>
  </div>
</div>
